@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.message-container {
  height: 72dvh;
  overflow-y: auto;
}

.message-container::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.message-container::-webkit-scrollbar-track {
  background: #f0f0f0;      /* color of the background track */
  border-radius: 10px;
}

.message-container::-webkit-scrollbar-thumb {
  background-color: #888;   /* color of the scrolling thumb */
  border-radius: 10px;      
  border: 2px solid #f0f0f0;/* creates space around thumb */
}

.message-container::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;   /* color changes on hover */
}
